
.lcontainer 
        { width: 99%;height: 10%;
          background-color: cornflowerblue;
          
            border-width: medium;
            border-color: black;
          }
.container1 
        { font-size: 70%; 
            width: 39%;height: 20%;
          background-color: cornflowerblue;
          margin: 5%;
            border-width: thin;
        border-radius: 10%;
            border-color: black;
          }

.textz{  
        background-color:cornflowerblue;
    }

.titlebar1{
        font-size: 100%;
        padding-right: 40%;
        background-color: cornflowerblue; 
        padding-bottom: 1%;
        padding-left: 2%;
        padding-top: 2%;
        border-width: medium;
        border-color: black;
             }         
.inputbox1{
        font-size: 50%; 
        width: 35%;height: 8%;
        background-color: cornsilk;
        margin: 5%;
        border-width: thin;
        border-color: black;

}